<div class="container pt-5 pb-5 pt-md-6 pb-md-6" style="border-top: 1px solid #ADB5BD;">
    <p class=" text-primary-400 text-center">
        <small class="fs-md-6">©Vivre 2024 All right Reserved</small>
    </p>
</div>